{% extends 'base.html' %}
{% block content %}

{% load static %}
<center>
    <br>
    <center><img src="{% static 'user/media/logo.png' %}" alt="index" width="200" height="150" /></center>
    <br>
<h1>Add Product</h1>
<form action="add" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  <label>Name:</label>
  <div>{{form.name}}</div>
    <br>
  <label>Quantity:</label>
  <div>{{form.pro_quantity}}</div>
    <br>
  <label>Price:</label>
  <div>{{form.pro_price}}</div>
    <br>
  <label>Description:</label>
  <div>{{form.description}}</div>
    <br>
  <label>Image:</label>
    <div>{{form.image}}</div>
<!--  <div>{{form.image}}</div>-->
  <div><button type="submit">Add</button> </div>
</form>
    </center>
{% if img_obj %}
      <h3>Succesfully uploaded : {{img_obj.caption}}</h3>
      <img src="{{ img_obj.image.url}}" alt="connect" style="max-height:300px">
{% endif %}
{% endblock %}